*,
*:before,
*:after {
  box-sizing: border-box;
}

/* start 全局的布局框架 */
html,
body,
.page {
  height: 100%;
  margin: 0;
  padding: 0;
}
.page {
  display: flex;
  flex-flow: column;
}
.page-header {
  height: 48px;
  background-color: #303030;
  display: flex;
  flex-flow: row;
}
.page-header h1 {
  font-size: 18px;
  flex: 1;
  color: #fff;
  align-items: center;
  line-height: 48px;
  font-weight: lighter;
}
.page-content {
  flex: 1;
  background-color: #f8f8f9;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.page-footer {
  height: 52px;
  background-color: #fff;
  display: flex;
  flex-flow: row;
  border-top: 1px solid #e5e5e5;
  align-items: center;
}
.page-footer__item {
  flex: 1;
  text-align: center;
  align-self: center;
  line-height: 52px;
  position: relative;
  color: #333;
}

/* end 全局的布局框架 */

/* start 顶部导航栏的后退按钮图标、关闭图标 */
.header-left,
.header-right {
  min-width: 48px;
  color: #fff;
}
.header-left .btn-back {
  display: block;
  height: 48px;
}
.header-left .btn-back:active {
  background-color: #222;
}

/* start 顶部导航栏的后退按钮图标、关闭图标 */

/* start 零碎的元素 */
.text-muted {
  color: #999;
}
.text-primary {
  color: #2d8cf0;
}
.text-success {
  color: #19be6b;
}
.text-warning {
  color: #ff9900;
}
.text-info {
  color: #2db7f5;
}
.text-danger {
  color: #ed3f14;
}

.bg-primary {
  background-color: #2d8cf0;
}
.bg-success {
  background-color: #19be6b;
}
.bg-warning {
  background-color: #ff9900;
}
.bg-info {
  background-color: #2db7f5;
}
.bg-danger {
  background-color: #ed3f14;
}

.price:before {
  font-size: 75%;
  content: "￥";
  opacity: 0.5;
}

/* start 全局顶部页签样式修改 */
.weui-navbar__item {
  background-color: #fff;
}
.weui-navbar__item.weui-bar__item_on {
  background-color: #fff;
}
.weui-navbar__item.weui-bar__item_on:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 4px;
  background-color: #4caf50;
}
/* end */
