html{
  height:100%;
  body{
    height:100%;
    display:block;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  }
}
// 扩展bootstrap的某些组件样式
.navbar-inverse{
  background-color: #1C222B;
  .navbar-brand,.navbar-nav>li>a{
    color:#9da5b4;
  }
}
.panel{
  .panel-heading{
    position: relative;
    .panel-heading-label-group{
      display: inline-block;
      .badge{
        margin-right:10px;
        vertical-align:2px;
      &.badge-default{
        background-color:#999;
        }
      }
    }
    .panel-actions{
      position:absolute;
      right:0;
      top:0;
      bottom:0;
      text-align: right;
      .more{
        display: inline-block;
        padding:9px 15px;
      }
    }
  }
}
.badge-primary{background-color:#337ab7;color:#FFF;}
.badge-success{background-color:#dff0d8;color:#3c763d;}
.badge-info{background-color:#d9edf7;color:#31708f;}
.badge-warning{background-color:#fcf8e3;color:#8a6d3b;}
.badge-danger{background-color:#f2dede;color:#a94442;}

.table-responsive{
  .table:last-child{
    margin-bottom:0;
  }
}
.table-nowrap{
  th,td{
    white-space: nowrap;
  }
}
// 登录页专用样式
.page-login{
  background:url(../images/bg_login.png) center center no-repeat;
  .login{
    background-color:rgba(255,255,255,.44);
    border-radius:6px;
    padding:15px;
    position: absolute;
    top:50%;
    left:60%;
    transform:translate(-50%,-50%);
    h1{
      font-size:24px;
      text-align: center;
      color:#FFF;
      margin:0 0 15px;
      padding:15px 0;
    }
    .input-group-addon-vscode{
      border:none;
      padding:0;
      border-radius: 0 4px 4px 0;
      overflow: hidden;
      > img{width:140px;height:46px;display: block;}
    }
  }
}
@media(min-width:768px){
  .page-login{
    background:url(../images/bg_login.png) center center no-repeat;
    .login{
      width:400px;
      }
    }
}

// 全局主要框架的样式
.page-main{
  padding-top:50px;
  .navbar-fixed-top{
    .navbar-brand{background: url(../images/logo.png) 15px center no-repeat;padding-left:185px;}
    .navbar-text .badge{
      margin-right:15px;
    }
  }
  .aside{
    width:175px;
    position:fixed;
    left:0;
    top:50px;
    bottom:0;
    z-index:20;
    background-color:#21252b;
    transition: transform  0.2s cubic-bezier(0.5, 0, 1, 0);
    .btn-toggle-aside{
      position: absolute;
      width:15px;
      text-align: center;
      height:48px;
      line-height: 48px;
      right:-15px;
      top:50%;
      margin-top:-24px;
      background-color:#21252b;
      color:#FFF;
      border-radius:0 5px 5px 0;
      &:hover{
        background-color:#4b5261;
      }
      &:active{
        background-color:#444;
      }
    }
    .left-menu{
      margin:0;
      padding:0;
      list-style: none;
      > li >a {
        display: block;
        padding:10px 12px;
        color:#9da5b4;
        transition: background-color 0.1s;
        > .fa{margin-right:5px;}
        &:hover,&:visited,&:focus{
          text-decoration: none;
          background-color:#4b5261;
        }
        &:hover{
          color:#FFF;
        }
        &:active{
          text-decoration: none;
          background-color:#4d78cc;
          color:#FFF;
        }
      }
      > li.active > a {
          text-decoration: none;
          background-color:#3a3f4b;
          color:#5bc0de;
          > .fa{
            color:#5bc0de;
          }
      }
    }
  }
  .main{
    height:100%;
    margin-left:175px;
    transition: all 0.2s cubic-bezier(0.5, 0, 1, 0);
    transition-delay: 0.3s;
    position: relative;
    .pagination-footer{
      position: absolute;
      left:0;
      bottom:0;
      right:0;
      background-color: #f2f2f2;
      text-align: right;padding:0 15px;
    }
  }
  &.off{
    .aside{
      transform: translate(-100%,0);
      .btn-toggle-aside .fa-caret-left:before{
        content:"\f0da";
      }
    }
    .main{
      margin-left:0;
    }
  }
}
// ======================================================================
//首页样式
.home-wrapper{padding-top:15px;}
//地图页面样式
.map-wrapper{
  height: 100%;
  position:relative;
  .map{
    height:100%;
    width:100%;
    background-color:#f3f1ec;
  }
  .map-search{
    position: absolute;
    right:20px;top:20px;
    width:250px;
    z-index:500;
    background-color:#FFF;
    box-shadow:0 1px 10px rgba(0,0,0,.25);
    transition: all 0.2s cubic-bezier(0.5, 0, 1, 0);
    .input-label{
      position: absolute;left:0;top:0;bottom:0;color:#999;line-height: 1.56;
      padding:6px 15px;
      &:after{
        content:"";
        position: absolute;
        right:0;
        top:4px;
        bottom:4px;
        border-right:1px solid #e5e5e5;
      }
    }
    .form-control{
      padding-left:65px;
      border-color:transparent;
      border-radius: 0;
      box-shadow:none;
    }
    .result-list{
      position: absolute;
      width:100%;
      top:36px;
      left:0;
      background-color: #FFF;
      box-shadow:0 4px 10px rgba(0,0,0,.25);
      .list-group{
        margin:0;
        .list-group-item{
          border-left:none;
          border-right:none;
          .list-group-item-text{color:#999;font-size:12px;}
        }
        .list-group-item:first-child,.list-group-item:last-child{
          border-radius: 0;
        }
      }
    }
  }
}
//工程管理样式
.project-wrapper{
  padding-top:15px;
}
