<!doctype html>

<div class="container-fluid help-wrapper">
  <!-- start 顶部的四大块问题 -->
  <div class="row">
    <div class="col-lg-3">
      <a href="#" class="help-block-group bg1"><i class="fa fa-building fa-fw"></i> 工程管理</a>
    </div>
    <div class="col-lg-3"><a href="#" class="help-block-group bg2"><i class="fa fa-cogs fa-fw"></i> 机型配置</a></div>
    <div class="col-lg-3"><a href="#" class="help-block-group bg3"><i class="fa fa-user-cog fa-fw"></i> 帐号管理</a></div>
    <div class="col-lg-3"><a href="#" class="help-block-group bg4"><i class="fa fa-cloud-upload-alt fa-fw"></i> 远程升级</a></div>
  </div>
  <!-- end 顶部的四大块问题 -->
  <!-- start 问题列表可折叠 -->
  <dl class="help-list">
    <dt data-toggle="collapse" data-target="#collapse1" ><strong>问</strong><i class="fas fa-caret-down"></i> 如何给自己的客户生成帐号？</dt>
    <dd class="collapse" id="collapse1"><strong>答</strong>进入暖通维保平台，点击左侧菜单"用户设置"，进入用户设置界面，在添加用户表格内写入客户的手机号码，名字等基本信息，点击添加按钮，就可以生成新的帐号。</dd>
  </dl>
  <dl class="help-list">
    <dt data-toggle="collapse" data-target="#collapse2" ><strong>问</strong><i class="fas fa-caret-down"></i> 如何给自己的客户生成帐号？</dt>
    <dd class="collapse" id="collapse2"><strong>答</strong>进入暖通维保平台，点击左侧菜单"用户设置"，进入用户设置界面，在添加用户表格内写入客户的手机号码，名字等基本信息，点击添加按钮，就可以生成新的帐号。</dd>
  </dl>
  <dl class="help-list">
    <dt data-toggle="collapse" data-target="#collapse3" ><strong>问</strong><i class="fas fa-caret-down"></i> 如何给自己的客户生成帐号？</dt>
    <dd class="collapse" id="collapse3"><strong>答</strong>进入暖通维保平台，点击左侧菜单"用户设置"，进入用户设置界面，在添加用户表格内写入客户的手机号码，名字等基本信息，点击添加按钮，就可以生成新的帐号。</dd>
  </dl>
  <dl class="help-list">
    <dt data-toggle="collapse" data-target="#collapse4" ><strong>问</strong><i class="fas fa-caret-down"></i> 如何给自己的客户生成帐号？</dt>
    <dd class="collapse" id="collapse4"><strong>答</strong>进入暖通维保平台，点击左侧菜单"用户设置"，进入用户设置界面，在添加用户表格内写入客户的手机号码，名字等基本信息，点击添加按钮，就可以生成新的帐号。</dd>
  </dl>
  <dl class="help-list">
    <dt data-toggle="collapse" data-target="#collapse5" ><strong>问</strong><i class="fas fa-caret-down"></i> 如何给自己的客户生成帐号？</dt>
    <dd class="collapse" id="collapse5"><strong>答</strong>进入暖通维保平台，点击左侧菜单"用户设置"，进入用户设置界面，在添加用户表格内写入客户的手机号码，名字等基本信息，点击添加按钮，就可以生成新的帐号。</dd>
  </dl>
  <dl class="help-list">
    <dt data-toggle="collapse" data-target="#collapse6" ><strong>问</strong><i class="fas fa-caret-down"></i> 如何给自己的客户生成帐号？</dt>
    <dd class="collapse" id="collapse6"><strong>答</strong>进入暖通维保平台，点击左侧菜单"用户设置"，进入用户设置界面，在添加用户表格内写入客户的手机号码，名字等基本信息，点击添加按钮，就可以生成新的帐号。</dd>
  </dl>
  <dl class="help-list">
    <dt data-toggle="collapse" data-target="#collapse7" ><strong>问</strong><i class="fas fa-caret-down"></i> 如何给自己的客户生成帐号？</dt>
    <dd class="collapse" id="collapse7"><strong>答</strong>进入暖通维保平台，点击左侧菜单"用户设置"，进入用户设置界面，在添加用户表格内写入客户的手机号码，名字等基本信息，点击添加按钮，就可以生成新的帐号。</dd>
  </dl>
  <dl class="help-list">
    <dt data-toggle="collapse" data-target="#collapse8" ><strong>问</strong><i class="fas fa-caret-down"></i> 如何给自己的客户生成帐号？</dt>
    <dd class="collapse" id="collapse8"><strong>答</strong>进入暖通维保平台，点击左侧菜单"用户设置"，进入用户设置界面，在添加用户表格内写入客户的手机号码，名字等基本信息，点击添加按钮，就可以生成新的帐号。</dd>
  </dl>
  <!-- end 问题列表可折叠 -->
</div>
