<!doctype html>

<div class="container-fluid help-wrapper">
  <!-- start 顶部的四大块问题 -->
  <ul class="nav nav-pills nav-help">
    <li class="active"><a href="#gcgl" data-toggle="tab" class="bg1"><i class="fa fa-building fa-fw"></i> 工程管理</a></li>
    <li><a href="#jxpz" data-toggle="tab" class="bg2"><i class="fa fa-cogs fa-fw"></i> 机型配置</a></li>
    <li><a href="#zhgl" data-toggle="tab" class="bg3"><i class="fa fa-user-cog fa-fw"></i> 帐号管理</a></li>
    <li><a href="#ycsj" data-toggle="tab" class="bg4"><i class="fa fa-cloud-upload-alt fa-fw"></i> 远程升级</a></li>
  </ul>
  <!-- end 顶部的四大块问题 -->
  <div class="tab-content">
    <div class="tab-pane active fade in" id="gcgl">
        <!-- start 问题列表可折叠 -->
          <dl class="help-list">
            <dt data-toggle="collapse" data-target="#collapse1" ><strong>问</strong><i class="fas fa-caret-down"></i> 如何给自己的客户生成帐号？</dt>
            <dd class="collapse" id="collapse1"><strong>答</strong>进入暖通维保平台，点击左侧菜单"用户设置"，进入用户设置界面，在添加用户表格内写入客户的手机号码，名字客户客户客户客户客户客户客户客户等基本信息，点击添加按钮，就可以生成新的帐号。</dd>
          </dl>
          <dl class="help-list">
            <dt data-toggle="collapse" data-target="#collapse2" ><strong>问</strong><i class="fas fa-caret-down"></i> 如何给客户客户自己的客户生成帐号？</dt>
            <dd class="collapse" id="collapse2"><strong>答</strong>进入暖通维保平台，点击左侧菜单"用户设置"，进入用户设置界面，在添加用户表格内写入客户客户客户客户客户客户客户客户客户客户客户客户客户客户客户客户客户客户客户客户客户客户客户客户客户客户的手机号码，名字等基本信息，点击添加按钮，就可以生成新的帐号。</dd>
          </dl>
          <dl class="help-list">
            <dt data-toggle="collapse" data-target="#collapse3" ><strong>问</strong><i class="fas fa-caret-down"></i> 如何给自客户己的客客户客户客户客户户生成帐号？</dt>
            <dd class="collapse" id="collapse3"><strong>答</strong>进入暖通维保平台，点击左侧菜单"用户设置"，进入用户设置界面，在添加用户表格内写入客户的手机号客户客户客户客户客户客户客户客户客户客户客户客户码，名字等基本信息，点击添加按钮，就可以生成新的帐号。</dd>
          </dl>
          <dl class="help-list">
            <dt data-toggle="collapse" data-target="#collapse4" ><strong>问</strong><i class="fas fa-caret-down"></i> 如何给客户客户自己的客户客户客户客户客户客户客户客户生成帐号？</dt>
            <dd class="collapse" id="collapse4"><strong>答</strong>进入暖通维保平台，点击左侧菜单"用户设置"，进入用户设置界面，在添加用户表格内写入客户的手机号码，名字等基本信息，点击添加按钮，就可以生成新的帐号。</dd>
          </dl>
          <dl class="help-list">
            <dt data-toggle="collapse" data-target="#collapse5" ><strong>问</strong><i class="fas fa-caret-down"></i> 如何给客户客户自己的客户生成客户客户帐号？</dt>
            <dd class="collapse" id="collapse5"><strong>答</strong>进入暖通维保平台，点击左侧菜单"用户设置"，进入用户设置界面，在添加用户表格内写入客户的手机客户客户客户客户客户客户客户客户客户客户客户客户客户客户客户客户客户客户客户客户客户客户客户客户客户客户客户客户客户客户客户客户客户客户客户客户客户客户客户客户客户客户客户客户客户客户客户客户客户客户客户客户客户客户客户客户号码，名字等基本信息，点击添加按钮，就可以生成新的帐号。</dd>
          </dl>
          <dl class="help-list">
            <dt data-toggle="collapse" data-target="#collapse6" ><strong>问</strong><i class="fas fa-caret-down"></i> 如何给自己的客户生客户客客户客户客户客户户成帐号？</dt>
            <dd class="collapse" id="collapse6"><strong>答</strong>进入暖通维保平台，点击左侧菜单"用户设置"，进入用户设置界面，在添加用户表格内写入客户的客户客户客户客户客户客户客户客户客户手机号码，名字等基本信息，点击添加按钮，就可以生成新的帐号。</dd>
          </dl>
          <dl class="help-list">
            <dt data-toggle="collapse" data-target="#collapse7" ><strong>问</strong><i class="fas fa-caret-down"></i> 如何给自己的客户生成帐号如何给自己的客户生成帐号？</dt>
            <dd class="collapse" id="collapse7"><strong>答</strong>进入暖通维保平台，点击左侧菜单"用户设置"，进入用户设置界面，在添加用户表格内写入客户的客户客户客户客户客户客户客户客户客户客户客户客户客户客户客户客户手机号码，名字等基本信息，点击添加按钮，就可以生成新的帐号。</dd>
          </dl>
          <dl class="help-list">
            <dt data-toggle="collapse" data-target="#collapse8" ><strong>问</strong><i class="fas fa-caret-down"></i> 如何给自己的客户生成帐号？</dt>
            <dd class="collapse" id="collapse8"><strong>答</strong>进入暖通维保平台，点击左侧菜单"用户设置"，进入用户设置界面，在添加用户表格内写入客客户客户客户客户客户客户客户客户客户客户客户客户客户客户客户客户客户客户客户客户客户客户客户户的手机号码，名字等基本信息，点击添加按钮，就可以生成新的帐号。</dd>
          </dl>
        <!-- end 问题列表可折叠 -->
    </div>
    <div class="tab-pane fade" id="jxpz">2</div>
    <div class="tab-pane fade" id="zhgl">3</div>
    <div class="tab-pane fade" id="ycsj">4</div>
  </div>
</div>
