<!doctype html>
<div class="container-fluid home-wrapper">
  <div class="row">
    <div class="col-xs-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">机型比例</h3>
          <div class="panel-actions">
            <a href="#" class="more">详情 <i class="fa fa-angle-double-right"></i></a>
          </div>
        </div>
        <div class="panel-body">
          <div id="chart1" style="height:300px;width:100%;"></div>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">上周监控情况<small class="text-muted">（时间：2018-5-15至2018-5-27）</small></h3>
          <div class="panel-actions">
            <a href="#" class="more">详情 <i class="fa fa-angle-double-right"></i></a>
          </div>
        </div>
        <div class="panel-body">
          <div id="chart2" style="height:300px;width:100%;"></div>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">故障比例<small class="text-muted">（最近7天）</small></h3>
          <div class="panel-actions">
            <a href="#" class="more">详情 <i class="fa fa-angle-double-right"></i></a>
          </div>
        </div>
        <div class="panel-body">
          <div id="chart3" style="height:300px;width:100%;"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">设备分布情况<small class="text-muted">（TOP10）</small></h3>
        </div>
        <div class="panel-body">
          Panel content
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="static/js/echarts.min.js"></script>
<script type="text/javascript" src="static/js/macarons.js"></script>
<script>
  //第一个图表
  var chart1 = echarts.init(document.getElementById('chart1'), 'macarons');

  var option1 = {
    tooltip: {
        trigger: 'item',
        formatter: "{a} <br/>{b}: {c} ({d}%)"
    },
    legend: {
        orient: 'vertical',
        right: '20%',
        top:"20%",
        bottom:"20%",
        data:['C1_1冷凝风机过载','C1_1压缩机高压','C1_2压缩机高压','C1_3冷凝风机过载','C1_3压缩机高压']
    },
    series: [
        {
            name:'访问来源',
            type:'pie',
            radius: ['70%', '90%'],
            center: ['30%', '50%'],
            avoidLabelOverlap: false,
            label: {
                normal: {
                    show: false,
                    position: 'center'
                },
                emphasis: {
                    show: true,
                    textStyle: {
                        fontSize: '30',
                        fontWeight: 'bold'
                    }
                }
            },
            labelLine: {
                normal: {
                    show: false
                }
            },
            data:[
                {value:335, name:'C1_1冷凝风机过载'},
                {value:310, name:'C1_1压缩机高压'},
                {value:234, name:'C1_2压缩机高压'},
                {value:135, name:'C1_3冷凝风机过载'},
                {value:1548, name:'C1_3压缩机高压'}
            ]
        }
    ]
};
  chart1.setOption(option1);
//第二个图表
 var chart2 = echarts.init(document.getElementById('chart2'), 'macarons');
 var option2 = {
    tooltip: {
        trigger: 'axis',
        axisPointer: {
            type: 'cross',
            crossStyle: {
                color: '#999'
            }
        }
    },
    toolbox: {
        feature: {
            dataView: {show: true, readOnly: false},
            magicType: {show: true, type: ['line', 'bar']},
            restore: {show: true},
            saveAsImage: {show: true}
        }
    },
    legend: {
        data:['蒸发量','降水量','平均温度']
    },
    xAxis: [
        {
            type: 'category',
            data: ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月'],
            axisPointer: {
                type: 'shadow'
            }
        }
    ],
    yAxis: [
        {
            type: 'value',
            name: '水量',
            min: 0,
            max: 250,
            interval: 50,
            axisLabel: {
                formatter: '{value} ml'
            }
        },
        {
            type: 'value',
            name: '温度',
            min: 0,
            max: 25,
            interval: 5,
            axisLabel: {
                formatter: '{value} °C'
            }
        }
    ],
    series: [
        {
            name:'蒸发量',
            type:'bar',
            data:[2.0, 4.9, 7.0, 23.2, 25.6, 76.7, 135.6, 162.2, 32.6, 20.0, 6.4, 3.3]
        },
        {
            name:'降水量',
            type:'bar',
            data:[2.6, 5.9, 9.0, 26.4, 28.7, 70.7, 175.6, 182.2, 48.7, 18.8, 6.0, 2.3]
        },
        {
            name:'平均温度',
            type:'line',
            yAxisIndex: 1,
            data:[2.0, 2.2, 3.3, 4.5, 6.3, 10.2, 20.3, 23.4, 23.0, 16.5, 12.0, 6.2]
        }
    ]
};
chart2.setOption(option2);
//第三个图表
var chart3 = echarts.init(document.getElementById('chart3'), 'macarons');
var option3 = {    
    tooltip : {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
    },
    legend: {
        orient: 'vertical',
        left: 'left',
        data: ['直接访问','邮件营销','联盟广告','视频广告','搜索引擎']
    },
    series : [
        {
            name: '访问来源',
            type: 'pie',
            radius : '75%',
            center: ['50%', '50%'],
            data:[
                {value:335, name:'直接访问'},
                {value:310, name:'邮件营销'},
                {value:234, name:'联盟广告'},
                {value:135, name:'视频广告'},
                {value:1548, name:'搜索引擎'}
            ],
            itemStyle: {
                emphasis: {
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            }
        }
    ]
};

chart3.setOption(option3);

  window.onresize = function(){
      chart1.resize(); 
      chart2.resize(); 
      chart3.resize(); 
  };
</script>