<!doctype html>
<div class="container-fluid home-wrapper">
  <div class="row">
    <div class="col-xs-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">机型比例</h3>
          <div class="panel-actions">
            <a href="#" class="more">详情 <i class="fa fa-angle-double-right"></i></a>
          </div>
        </div>
        <div class="panel-body">
          Panel content
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">上周监控情况<small class="text-muted">（时间：2018-5-15至2018-5-27）</small></h3>
          <div class="panel-actions">
            <a href="#" class="more">详情 <i class="fa fa-angle-double-right"></i></a>
          </div>
        </div>
        <div class="panel-body">
          Panel content
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">故障比例<small class="text-muted">（最近7天）</small></h3>
          <div class="panel-actions">
            <a href="#" class="more">详情 <i class="fa fa-angle-double-right"></i></a>
          </div>
        </div>
        <div class="panel-body">
          Panel content
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">设备分布情况<small class="text-muted">（TOP10）</small></h3>
        </div>
        <div class="panel-body">
          Panel content
        </div>
      </div>
    </div>
  </div>
</div>
