<!doctype html>

<div class="container-fluid home-wrapper">
  <div class="row">
    <div class="col-xs-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">机型比例</h3>
          <div class="panel-actions"> <a href="#" class="more">详情 <i class="fa fa-angle-double-right"></i></a> </div>
        </div>
        <div class="panel-body">
          <div id="chart1" style="height:300px;width:100%;"></div>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">上周监控情况<small class="text-muted">（时间：2018-5-21至2018-5-27）</small></h3>
          <div class="panel-actions"> <a href="#" class="more">详情 <i class="fa fa-angle-double-right"></i></a> </div>
        </div>
        <div class="panel-body">
          <div id="chart2" style="height:300px;width:100%;"></div>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">故障比例<small class="text-muted">（最近7天）</small></h3>
          <div class="panel-actions"> <a href="#" class="more">详情 <i class="fa fa-angle-double-right"></i></a> </div>
        </div>
        <div class="panel-body">
          <div id="chart3" style="height:300px;width:100%;"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">设备分布情况<small class="text-muted">（TOP10）</small></h3>
        </div>
        <div class="panel-body">
          <div id="chart4" style="height:1100px;width:100%;"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="static/js/echarts.min.js"></script>
<script type="text/javascript" src="static/js/china.js"></script>
<script type="text/javascript" src="static/js/macarons.js"></script>
<script>
  //第一个图表
  var chart1 = echarts.init(document.getElementById('chart1'), 'macarons');

  var option1 = {
    tooltip: {
        trigger: 'item',
        formatter: "{a} <br/>{b}: {c} ({d}%)"
    },
    legend: {
        orient: 'vertical',
        right: '5%',
        top:"20%",
        bottom:"20%",
        data:['C1_1冷凝风机过载','C1_1压缩机高压','C1_2压缩机高压','C1_3冷凝风机过载','C1_3压缩机高压']
    },
    series: [
        {
            name:'机型比例',
            type:'pie',
            radius: ['40%', '60%'],
            center: ['28%', '50%'],
            avoidLabelOverlap: false,
            label: {
                normal: {
                    show: false,
                    position: 'center'
                },
                emphasis: {
                    show: true,
                    textStyle: {
                        fontSize: '30',
                        fontWeight: 'bold'
                    }
                }
            },
            labelLine: {
                normal: {
                    show: false
                }
            },
            data:[
                {value:335, name:'C1_1冷凝风机过载'},
                {value:310, name:'C1_1压缩机高压'},
                {value:234, name:'C1_2压缩机高压'},
                {value:135, name:'C1_3冷凝风机过载'},
                {value:1548, name:'C1_3压缩机高压'}
            ]
        }
    ]
  };
  //延时加载图表，保证交互动作顺滑
  setTimeout(function(){
    chart1.setOption(option1);
  },800);
//第二个图表
 var chart2 = echarts.init(document.getElementById('chart2'), 'macarons');
 var option2 = {
    tooltip : {
        trigger: 'axis',
        axisPointer : {            // 坐标轴指示器，坐标轴触发有效
            type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
        }
    },
    legend: {
        data: ['正常', '故障工程','新安装','离线','搜索引擎']
    },
    grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
    xAxis:  {
        type: 'value'
    },
    yAxis: {
        type: 'category',
        data: ['周一(5.21)','周二(5.22)','周三(5.23)','周四(5.24)','周五(5.25)','周六(5.26)','周日(5.27)']
    },
    series: [
        {
            name: '正常',
            type: 'bar',
            stack: '总量',
            label: {
                normal: {
                    show: true,
                    position: 'insideRight'
                }
            },
            data: [320, 302, 301, 334, 390, 330, 320]
        },
        {
            name: '故障工程',
            type: 'bar',
            stack: '总量',
            label: {
                normal: {
                    show: true,
                    position: 'insideRight'
                }
            },
            data: [120, 132, 101, 134, 90, 230, 210]
        },
        {
            name: '新安装',
            type: 'bar',
            stack: '总量',
            label: {
                normal: {
                    show: true,
                    position: 'insideRight'
                }
            },
            data: [220, 182, 191, 234, 290, 330, 310]
        },
        {
            name: '离线',
            type: 'bar',
            stack: '总量',
            label: {
                normal: {
                    show: true,
                    position: 'insideRight'
                }
            },
            data: [150, 212, 201, 154, 190, 330, 410]
        }
    ]
};

 //延时加载图表，保证交互动作顺滑
  setTimeout(function(){
    chart2.setOption(option2);
  },1000);

//第三个图表
var chart3 = echarts.init(document.getElementById('chart3'), 'macarons');
var option3 = {
    tooltip : {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
    },
    legend: {
        orient: 'vertical',
        left: 'left',
        data: ['C1-1冷凝风机过载','C1-1压缩机高压','C1-2压缩机高压','C1-3冷凝风机过载','C1-3压缩机高压']
    },
    series : [
        {
            name: '故障比例',
            type: 'pie',
            radius : '60%',
            center: ['50%', '50%'],
            data:[
                {value:335, name:'C1-1冷凝风机过载'},
                {value:310, name:'C1-1压缩机高压'},
                {value:234, name:'C1-2压缩机高压'},
                {value:135, name:'C1-3冷凝风机过载'},
                {value:1548, name:'C1-3压缩机高压'}
            ],
            itemStyle: {
                emphasis: {
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            }
        }
    ]
};


 //延时加载图表，保证交互动作顺滑
  setTimeout(function(){
    chart3.setOption(option3);
  },1200);

//第四个图表
var chart4 = echarts.init(document.getElementById('chart4'), 'macarons');
var data4 = [
        {
        name: '北京',
        value: 5.3
          },
          {
              name: '天津',
              value: 3.8
          },
          {
              name: '上海',
              value: 4.6
          },
          {
              name: '重庆',
              value: 3.6
          },
          {
              name: '河北',
              value: 3.4
          },
          {
              name: '河南',
              value: 3.2
          },
          {
              name: '云南',
              value: 1.6
          },
          {
              name: '辽宁',
              value: 4.3
          },
          {
              name: '黑龙江',
              value: 4.1
          },
          {
              name: '湖南',
              value: 2.4
          },
          {
              name: '安徽',
              value: 3.3
          },
          {
              name: '山东',
              value: 3.0
          },
          {
              name: '新疆',
              value: 1
          },
          {
              name: '江苏',
              value: 3.9
          },
          {
              name: '浙江',
              value: 3.5
          },
          {
              name: '江西',
              value: 2.0
          },
          {
              name: '湖北',
              value: 2.1
          },
          {
              name: '广西',
              value: 3.0
          },
          {
              name: '甘肃',
              value: 1.2
          },
          {
              name: '山西',
              value: 3.2
          },
          {
              name: '内蒙古',
              value: 3.5
          },
          {
              name: '陕西',
              value: 2.5
          },
          {
              name: '吉林',
              value: 4.5
          },
          {
              name: '福建',
              value: 2.8
          },
          {
              name: '贵州',
              value: 1.8
          },
          {
              name: '广东',
              value: 3.7
          },
          {
              name: '青海',
              value: 0.6
          },
          {
              name: '西藏',
              value: 0.4
          },
          {
              name: '四川',
              value: 3.3
          },
          {
              name: '宁夏',
              value: 0.8
          },
          {
              name: '海南',
              value: 1.9
          }
];

var yData4 = [];

data4.sort(function(o1, o2) {
    if (isNaN(o1.value) || o1.value == null) return -1;
    if (isNaN(o2.value) || o2.value == null) return 1;
    return o1.value - o2.value;
});

for (var i = 0; i < data4.length; i++) {
    yData4.push(data4[i].name);
}
var option4 = {
    tooltip: {
        show: true,
        formatter: function(params) {
            return params.name + '：' + params.data['value'] + '%'
        },
    },
    visualMap: {
        type: 'continuous',
        text: ['', ''],
        showLabel: true,
        seriesIndex: [0],
        min: 0,
        max: 10,
        inRange: {
            color: ['#EFFBFB', '#C0EEEE', '#88DFE0', '#51D0D1', '#2DC6C8', ]
        },
        textStyle: {
            color: '#000'
        },
        bottom: 30,
        left: 'left',
    },
    grid: {
        right: 10,
        top: 80,
        bottom: 30,
        width: '15%'
    },
    xAxis: {
        type: 'value',
        scale: true,
        position: 'top',
        splitNumber: 1,
        boundaryGap: false,
        splitLine: {
            show: false
        },
        axisLine: {
            show: false
        },
        axisTick: {
            show: false
        },
        axisLabel: {
            margin: 2,
            textStyle: {
                color: '#aaa'
            }
        }
    },
    yAxis: {
        type: 'category',
        nameGap: 16,
        axisLine: {
            show: false,
            lineStyle: {
                color: '#ddd'
            }
        },
        axisTick: {
            show: false,
            lineStyle: {
                color: '#ddd'
            }
        },
        axisLabel: {
            interval: 0,
            textStyle: {
                color: '#999'
            }
        },
        data: yData4
    },
    geo: {
        roam: true,
        map: 'china',
        left: 'left',
        right:'20%',
        layoutSize: '50%',
        label: {
            emphasis: {
                show: false
            }
        },
        itemStyle: {
            emphasis: {
                areaColor: '#fff464'
            }
        },
        regions: [{
            name: '南海诸岛',
            value: 0,
            itemStyle: {
                normal: {
                    opacity: 0,
                    label: {
                        show: false
                    }
                }
            }
        }],
    },
    series: [{
        name: 'mapSer',
        type: 'map',
        roam: false,
        geoIndex: 0,
        label: {
            show: false,
        },
        data: data4
    }, {
        name: 'barSer',
        type: 'bar',
        roam: false,
        visualMap: false,
        zlevel: 2,
        barMaxWidth: 20,
        itemStyle: {
            normal: {
                color: '#2DC6C8'
            },
            emphasis: {
                color: "#009397"
            }
        },
        label: {
            normal: {
                show: false,
                position: 'right',
                offset: [0, 10]
            },
            emphasis: {
                show: true,
                position: 'right',
                offset: [10, 0]
            }
        },
        data: data4
    }]
};


 //延时加载图表，保证交互动作顺滑
  setTimeout(function(){
      chart4.setOption(option4);
  },1400);

window.onresize = function(){
    chart1.resize();
    chart2.resize();
    chart3.resize();
    chart4.resize();
};

$(function(){
  //当整个内容区宽度改变时也进行图表重绘
  $("#btnToggleAside").on("click",function(){
     setTimeout(function(){
        chart1.resize();
        chart2.resize();
        chart3.resize();
        chart4.resize();
    },800);
  });
});
</script>
