<!doctype html>
<div class="map-wrapper">
  <div class="map-search">
    <span class="input-label">搜索</span>
    <input type="text" class="form-control" placeholder="请输入关键字">
    <!-- 搜索结果列表 -->
    <div class="result-list">
      <div class="list-group">
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">搜索结果标题</h4>
            <p class="list-group-item-text">搜索结果摘要文字记录如果有的话情放在这里，最多不超过一行...</p>
            </a>
          <a href="#" class="list-group-item">东风无力百花残</a>
          <a href="#" class="list-group-item">斯是陋室惟吾德馨啊</a>
          <a href="#" class="list-group-item">苔痕上阶绿</a>
          <a href="#" class="list-group-item">孔子曰，何陋之有</a>
      </div>
    </div>
  </div>
  <div class="map" id="map" style="background: url(static/images/map.jpg) center center no-repeat;">装载地图用的div</div>
</div>
