<!doctype html>
<div class="map-wrapper">
  <div class="map-search">
    <span class="input-label">搜索</span>
    <input type="text" class="form-control" placeholder="请输入关键字">
    <!-- 搜索结果列表 -->
    <div class="result-list">
      <div class="list-group">
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Cras justo odio</h4>
            <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
            </a>
          <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
          <a href="#" class="list-group-item">Morbi leo risus</a>
          <a href="#" class="list-group-item">Porta ac consectetur ac</a>
          <a href="#" class="list-group-item">Vestibulum at eros</a>
      </div>
    </div>
  </div>
  <div class="map" id="map">装载地图用的div</div>
</div>
