<!doctype html>

<div class="container-fluid project-wrapper">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header"> <a class="navbar-brand ajax-link" href="templates/project.html"> <i class="fas fa-arrow-left"></i> 返回 </a>
        <div class="navbar-text"><strong class="text-primary">碧桂园4栋 1号机组（HP620）</strong></div>
      </div>
    </div>
  </nav>
  <!-- start 页签组-->
  <div class="row">
    <div class="col-md-2 col-lg-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          状态选择
          <div class="panel-actions">
            <div class="btn btn-link">更多</div>
          </div>
        </div>
        <div class="panel-body">
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              压缩机4电流值
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              变频外风机1目标频率
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              变频外风机2目标频率
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              变频外风机3目标频率
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              变频压缩机2目标频率
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              压力比
            </label>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          选择机组          
        </div>
        <div class="panel-body">
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              6号室内机
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              1号室外机
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              2号室外机
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              3号室外机
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              4号室外机
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              251号室外机
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7 col-lg-8">
      <!-- start 日期选择和翻页按钮组 -->
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <div class="input-group">
            <input type="text" class="form-control" placeholder="选择初始日期" value="2018-08-30">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button"><i class="fas fa-search"></i> 查询</button>
            </span>
          </div>
          </div>
        </div>
        <div class="col-sm-8 text-right">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-success"><i class="fas fa-backward"></i> 上一页</button>
            <button type="button" class="btn btn-success">下一页 <i class="fas fa-forward"></i></button>
          </div>
        </div>
      </div>
      <!-- end 日期选择和翻页按钮组 -->
      <!-- start 曲线容器 -->
      <div>我是曲线</div>
      <!-- end 曲线容器 -->
    </div>
    <div class="col-md-3 col-lg-2">
      <div class="list-group"> <a href="templates/project-detail.html" class="list-group-item ajax-link">实时数据 </a> <a href="#" class="list-group-item active"><i class="fas fa-arrow-left fa-fw" style="font-size:16px;"></i> 曲线查看</a> <a href="templates/project-detail3.html" class="list-group-item ajax-link">历史数据</a> <a href="#" class="list-group-item">故障记录</a> </div>
      <div class="panel panel-default">
        <div class="panel-heading">网关状态
          <div class="panel-actions"><span class="badge badge-success">在线</span></div>
        </div>
        <div class="panel-body">
          <div class="help-block">最后一次上传：2018-05-16 10:20:15</div>
          <div class="help-block">数据保存策略：1分钟保存一次数据</div>
        </div>
        <div class="panel-footer text-center"> <a href="#" class="btn btn-default btn-block">网关信息</a> <a href="#" class="btn btn-default btn-block">维保记录</a> <a href="#" class="btn btn-default btn-block">操作日志</a> <a href="#" class="btn btn-default btn-block">报警规则</a> </div>
      </div>
      
    </div>
  </div>
  <!-- end 页签组 --> 
</div>
