<!doctype html>

<div class="container-fluid project-wrapper">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header"> <a class="navbar-brand ajax-link" href="templates/project.html"> <i class="fas fa-arrow-left"></i> 返回 </a>
        <div class="navbar-text">碧桂园4栋 1号机组（HP620）</div>
      </div>
    </div>
  </nav>
  <!-- start 页签组-->
  <div class="row">
    <div class="col-md-8">
      <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#aa" data-toggle="tab">概况</a></li>
        <li><a href="#bb" data-toggle="tab">高级参数</a></li>
        <li><a href="#cc" data-toggle="tab">用户设置</a></li>
        <li><a href="#dd"  data-toggle="tab">定时</a></li>
        <li><a href="#ee"  data-toggle="tab">厂家控制</a></li>
        <li><a href="#ff"  data-toggle="tab">PLC维护</a></li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="aa">大图</div>
        <div role="tabpanel" class="tab-pane" id="bb">...</div>
        <div role="tabpanel" class="tab-pane" id="cc">...</div>
        <div role="tabpanel" class="tab-pane" id="dd">...</div>
        <div role="tabpanel" class="tab-pane" id="ee">...</div>
        <div role="tabpanel" class="tab-pane" id="ff">...</div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">网关在线状态
          <div class="panel-actions"><span class="badge badge-success">在线</span></div>
        </div>
        <div class="panel-body">
          <div class="help-block">最后一次上传：2018-05-16 10:20:15</div>
          <div class="help-block">数据保存策略：1分钟保存一次数据</div>
        </div>
        <div class="panel-footer text-center"> <a href="#" class="btn btn-link btn-sm">网关信息</a> <a href="#" class="btn btn-link btn-sm">维保记录</a> <a href="#" class="btn btn-link btn-sm">操作日志</a> <a href="#" class="btn btn-link btn-sm">报警规则</a> </div>
      </div>
      <div class="list-group"> <a href="#" class="list-group-item active"> <i class="fas fa-arrow-left fa-fw" style="font-size:16px;"></i> 实时数据 </a> <a href="#" class="list-group-item">曲线查看</a> <a href="#" class="list-group-item">历史数据</a> <a href="#" class="list-group-item">故障记录</a> </div>
    </div>
  </div>
  <!-- end 页签组 --> 
</div>
