<!doctype html>
<div class="container-fluid project-wrapper">
  <nav class="navbar navbar-default">
    <form class="navbar-form navbar-left">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="名称、IMEI码、位置、最近发生事件" style="min-width: 275px;">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button"><i class="fa fa-search"></i> 搜索</button>
          </span>
        </div><!-- /input-group -->
        <button type="button" class="btn btn-link"><i class="fa fa-filter"></i> 筛选器</button>
      </form>
      <div style="margin-right:15px;float:right;"><button type="submit" class="btn btn-primary navbar-btn">创建工程</button></div>
</nav>

  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapseOne">
              <i class="fa fa-chevron-circle-down fa-fw"></i> 未建立工程设备
            </a>
          </h4>
          <div class="panel-actions">
            <div class="panel-heading-label-group">
              <span class="badge badge-primary">设备总数：43</span><span class="badge badge-success">在线：36</span><span class="badge badge-warning">离线：7</span><span class="badge badge-danger">故障：3</span><span class="badge badge-default">未使用：4</span>
            </div>
            <a href="#" class="more">查看更多 <i class="fa fa-angle-double-right"></i></a>
          </div>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="table-responsive">
            <table class="table table-nowrap table-bordered table-hover">
              <thead>
                <tr>
                  <th>设备名称</th>
                  <th>设备型号</th>
                  <th>网关信息</th>
                  <th>连网状态</th>
                  <th>是否故障</th>
                  <th>最近发生事件</th>
                  <th>发生时间</th>
                  <th>机型配置模板</th>
                  <th style="text-align:right;">操作</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row"><span>碧桂园1期 低4号</span> <a href="#"><i class="fa fa-edit"></i></a></th>
                  <td>PH630</td>
                  <td>86678945218</td>
                  <td class="text-success"><i class="fa fa-check-circle"></i> 在线</td>
                  <td class="text-success"><i class="fa fa-check-circle"></i> 正常</td>
                  <td>上线</td>
                  <td>1小时前</td>
                  <td>PH630-特殊</td>
                  <td style="text-align:right;"><a class="btn btn-xs btn-default">查看</a> <a class="btn btn-xs btn-default">加入工程</a> <a class="btn btn-xs btn-default">更多</a></td>
                </tr>
                  <tr>
                    <th scope="row"><span>碧桂园1期 低4号</span> <a href="#"><i class="fa fa-edit"></i></a></th>
                    <td>PH630</td>
                    <td>86678945218</td>
                    <td class="text-success"><i class="fa fa-check-circle"></i> 在线</td>
                    <td class="text-success"><i class="fa fa-check-circle"></i> 正常</td>
                    <td>上线</td>
                    <td>1小时前</td>
                    <td>PH630-特殊</td>
                    <td style="text-align:right;"><a class="btn btn-xs btn-default">查看</a> <a class="btn btn-xs btn-default">加入工程</a> <a class="btn btn-xs btn-default">更多</a></td>
                  </tr>
                  <tr>
                    <th scope="row"><span>碧桂园1期 低4号</span> <a href="#"><i class="fa fa-edit"></i></a></th>
                    <td>PH630</td>
                    <td>86678945218</td>
                    <td class="text-warning"><i class="fa fa-exclamation-circle"></i> 离线</td>
                    <td class="text-danger"><i class="fa fa-exclamation-circle"></i> 故障</td>
                    <td>上线</td>
                    <td>1小时前</td>
                    <td>PH630-特殊</td>
                    <td style="text-align:right;"><a class="btn btn-xs btn-default">查看</a> <a class="btn btn-xs btn-default">加入工程</a> <a class="btn btn-xs btn-default">更多</a></td>
                  </tr>
                    <tr>
                      <th scope="row"><span>碧桂园1期 低4号</span> <a href="#"><i class="fa fa-edit"></i></a></th>
                      <td>PH630</td>
                      <td>86678945218</td>
                      <td class="text-success"><i class="fa fa-check-circle"></i> 在线</td>
                      <td class="text-success"><i class="fa fa-check-circle"></i> 正常</td>
                      <td>上线</td>
                      <td>1小时前</td>
                      <td>PH630-特殊</td>
                      <td style="text-align:right;"><a class="btn btn-xs btn-default">查看</a> <a class="btn btn-xs btn-default">加入工程</a> <a class="btn btn-xs btn-default">更多</a></td>
                    </tr>
                      <tr>
                        <th scope="row"><span>碧桂园1期 低4号</span> <a href="#"><i class="fa fa-edit"></i></a></th>
                        <td>PH630</td>
                        <td>86678945218</td>
                        <td class="text-success"><i class="fa fa-check-circle"></i> 在线</td>
                        <td class="text-success"><i class="fa fa-check-circle"></i> 正常</td>
                        <td>上线</td>
                        <td>1小时前</td>
                        <td>PH630-特殊</td>
                        <td style="text-align:right;"><a class="btn btn-xs btn-default">查看</a> <a class="btn btn-xs btn-default">加入工程</a> <a class="btn btn-xs btn-default">更多</a></td>
                      </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapseTwo">
              <i class="fa fa-chevron-circle-down fa-fw"></i> 吉林长生谷
            </a>            
          </h4>
          <div class="panel-actions">
            <div class="panel-heading-label-group">
              <span class="badge badge-primary">设备总数：43</span><span class="badge badge-success">在线：36</span><span class="badge badge-warning">离线：7</span><span class="badge badge-danger">故障：3</span>
            </div>
            <a href="#" class="more"><i class="fa fa-edit"></i> 编辑</a>
            <a href="#" class="more"><i class="fa fa-trash"></i> 删除</a>
          </div>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body">
            <h4>地址：吉林省长春市夕阳镇口永吉大街244号</h4>
            <p class="help-block">工程安装时间：2017-6-10  调试完成时间：2018-1-2  维保结束时间：2022-3-4  施工单位：北京有道安装公司 吴有道 18522023608  客户：吉林卫校 张铁锤 13489706541</p>
          </div>
          <div class="table-responsive">
            <table class="table table-nowrap table-bordered table-hover">
              <thead>
                <tr>
                  <th>设备名称</th>
                  <th>设备型号</th>
                  <th>网关信息</th>
                  <th>连网状态</th>
                  <th>是否故障</th>
                  <th>最近发生事件</th>
                  <th>发生时间</th>
                  <th>机型配置模板</th>
                  <th style="text-align:right;">操作</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row"><span>碧桂园1期 低4号</span> <a href="#"><i class="fa fa-edit"></i></a></th>
                  <td>PH630</td>
                  <td>86678945218</td>
                  <td class="text-success"><i class="fa fa-check-circle"></i> 在线</td>
                  <td class="text-success"><i class="fa fa-check-circle"></i> 正常</td>
                  <td>上线</td>
                  <td>1小时前</td>
                  <td>PH630-特殊</td>
                  <td style="text-align:right;"><a class="btn btn-xs btn-default">查看</a> <a class="btn btn-xs btn-default">更多</a></td>
                </tr>
                  <tr>
                    <th scope="row"><span>碧桂园1期 低4号</span> <a href="#"><i class="fa fa-edit"></i></a></th>
                    <td>PH630</td>
                    <td>86678945218</td>
                    <td class="text-success"><i class="fa fa-check-circle"></i> 在线</td>
                    <td class="text-success"><i class="fa fa-check-circle"></i> 正常</td>
                    <td>上线</td>
                    <td>1小时前</td>
                    <td>PH630-特殊</td>
                    <td style="text-align:right;"><a class="btn btn-xs btn-default">查看</a> <a class="btn btn-xs btn-default">更多</a></td>
                  </tr>
                  <tr>
                    <th scope="row"><span>碧桂园1期 低4号</span> <a href="#"><i class="fa fa-edit"></i></a></th>
                    <td>PH630</td>
                    <td>86678945218</td>
                    <td class="text-warning"><i class="fa fa-exclamation-circle"></i> 离线</td>
                    <td class="text-success"><i class="fa fa-check-circle"></i> 正常</td>
                    <td>上线</td>
                    <td>1小时前</td>
                    <td>PH630-特殊</td>
                    <td style="text-align:right;"><a class="btn btn-xs btn-default">查看</a> <a class="btn btn-xs btn-default">更多</a></td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapseThree">
              <i class="fa fa-chevron-circle-down fa-fw"></i> 珠海长隆海洋动物园
            </a>
          </h4>
          <div class="panel-actions">
            <div class="panel-heading-label-group">
              <span class="badge badge-primary">设备总数：43</span><span class="badge badge-success">在线：36</span><span class="badge badge-warning">离线：7</span><span class="badge badge-danger">故障：3</span>
            </div>
            <a href="#" class="more"><i class="fa fa-edit"></i> 编辑</a>
            <a href="#" class="more"><i class="fa fa-trash"></i> 删除</a>
          </div>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
          <div class="panel-body">
            <h4>地址：吉林省长春市夕阳镇口永吉大街244号</h4>
            <p class="help-block">工程安装时间：2017-6-10  调试完成时间：2018-1-2  维保结束时间：2022-3-4  施工单位：北京有道安装公司 吴有道 18522023608  客户：吉林卫校 张铁锤 13489706541</p>
          </div>
          <div class="table-responsive">
            <table class="table table-nowrap table-bordered">
              <thead>
                <tr>
                  <th>设备名称</th>
                  <th>设备型号</th>
                  <th>网关信息</th>
                  <th>连网状态</th>
                  <th>是否故障</th>
                  <th>最近发生事件</th>
                  <th>发生时间</th>
                  <th>机型配置模板</th>
                  <th style="text-align:right;">操作</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row"><span>碧桂园1期 低4号</span> <a href="#"><i class="fa fa-edit"></i></a></th>
                  <td>PH630</td>
                  <td>86678945218</td>
                  <td class="text-success"><i class="fa fa-check-circle"></i> 在线</td>
                  <td class="text-success"><i class="fa fa-check-circle"></i> 正常</td>
                  <td>上线</td>
                  <td>1小时前</td>
                  <td>PH630-特殊</td>
                  <td style="text-align:right;"><a class="btn btn-xs btn-default">查看</a> <a class="btn btn-xs btn-default">更多</a></td>
                </tr>
                  <tr>
                    <th scope="row"><span>碧桂园1期 低4号</span> <a href="#"><i class="fa fa-edit"></i></a></th>
                    <td>PH630</td>
                    <td>86678945218</td>
                    <td class="text-success"><i class="fa fa-check-circle"></i> 在线</td>
                    <td class="text-success"><i class="fa fa-check-circle"></i> 正常</td>
                    <td>上线</td>
                    <td>1小时前</td>
                    <td>PH630-特殊</td>
                    <td style="text-align:right;"><a class="btn btn-xs btn-default">查看</a> <a class="btn btn-xs btn-default">更多</a></td>
                  </tr>
                  <tr>
                    <th scope="row"><span>碧桂园1期 低4号</span> <a href="#"><i class="fa fa-edit"></i></a></th>
                    <td>PH630</td>
                    <td>86678945218</td>
                    <td class="text-warning"><i class="fa fa-exclamation-circle"></i> 离线</td>
                    <td class="text-danger"><i class="fa fa-exclamation-circle"></i> 故障</td>
                    <td>上线</td>
                    <td>1小时前</td>
                    <td>PH630-特殊</td>
                    <td style="text-align:right;"><a class="btn btn-xs btn-default">查看</a> <a class="btn btn-xs btn-default">更多</a></td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>        
      </div>
    </div>
  </div>
</div>

<div class="pagination-footer">
  <ul class="pagination">
        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
     </ul>
</div>
