<!doctype html>
<div class="container-fluid project-wrapper">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapseOne">
              <i class="fa fa-chevron-circle-down fa-fw"></i> 未建立工程设备
            </a>
          </h4>
          <div class="panel-actions">
            <div class="panel-heading-label-group">
              <span class="badge badge-default">设备总数：43</span><span class="badge badge-default">在线：36</span><span class="badge badge-default">离线：7</span><span class="badge badge-default">故障：3</span><span class="badge badge-default">未使用：4</span>
            </div>
            <a href="#" class="more">查看更多 <i class="fa fa-angle-double-right"></i></a>
          </div>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="table-responsive">
            <table class="table table-nowrap table-bordered table-striped">
              <thead>
                <tr>
                  <th>设备名称</th>
                  <th>设备型号</th>
                  <th>网关信息</th>
                  <th>连网状态</th>
                  <th>是否故障</th>
                  <th>最近发生事件</th>
                  <th>发生时间</th>
                  <th>机型配置模板</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row"><span>碧桂园1期 低4号</span><a href="#"><i class="fa fa-edit"></i></a></th>
                  <td>PH630</td>
                  <td>86678945218</td>
                  <td><i class="fa fa-link text-success"></i> 在线</td>
                  <td><i class="fa fa-check-circle text-success"></i> 正常</td>
                  <td>上线</td>
                  <td>1小时前</td>
                  <td>PH630-特殊</td>
                  <td><a class="btn btn-xs btn-default">查看</a><a class="btn btn-xs btn-default">加入工程</a><a class="btn btn-xs btn-default">更多</a></td>
                </tr>
                  <tr>
                    <th scope="row"><span>碧桂园1期 低4号</span><a href="#"><i class="fa fa-edit"></i></a></th>
                    <td>PH630</td>
                    <td>86678945218</td>
                    <td class="text-success"><i class="fa fa-link"></i> 在线</td>
                    <td class="text-success"><i class="fa fa-check-circle"></i> 正常</td>
                    <td>上线</td>
                    <td>1小时前</td>
                    <td>PH630-特殊</td>
                    <td><a class="btn btn-xs btn-default">查看</a><a class="btn btn-xs btn-default">加入工程</a><a class="btn btn-xs btn-default">更多</a></td>
                  </tr>
                    <tr>
                      <th scope="row"><span>碧桂园1期 低4号</span><a href="#"><i class="fa fa-edit"></i></a></th>
                      <td>PH630</td>
                      <td>86678945218</td>
                      <td class="text-danger"><i class="fa fa-unlink"></i> 离线</td>
                      <td><i class="fa fa-check-circle text-success"></i> 正常</td>
                      <td>上线</td>
                      <td>1小时前</td>
                      <td>PH630-特殊</td>
                      <td><a class="btn btn-xs btn-default">查看</a><a class="btn btn-xs btn-default">加入工程</a><a class="btn btn-xs btn-default">更多</a></td>
                    </tr>
                      <tr>
                        <th scope="row"><span>碧桂园1期 低4号</span><a href="#"><i class="fa fa-edit"></i></a></th>
                        <td>PH630</td>
                        <td>86678945218</td>
                        <td><i class="fa fa-link text-success"></i> 在线</td>
                        <td><i class="fa fa-check-circle text-success"></i> 正常</td>
                        <td>上线</td>
                        <td>1小时前</td>
                        <td>PH630-特殊</td>
                        <td><a class="btn btn-xs btn-default">查看</a><a class="btn btn-xs btn-default">加入工程</a><a class="btn btn-xs btn-default">更多</a></td>
                      </tr>
                        <tr>
                          <th scope="row"><span>碧桂园1期 低4号</span><a href="#"><i class="fa fa-edit"></i></a></th>
                          <td>PH630</td>
                          <td>86678945218</td>
                          <td><i class="fa fa-link text-success"></i> 在线</td>
                          <td><i class="fa fa-check-circle text-success"></i> 正常</td>
                          <td>上线</td>
                          <td>1小时前</td>
                          <td>PH630-特殊</td>
                          <td><a class="btn btn-xs btn-default">查看</a><a class="btn btn-xs btn-default">加入工程</a><a class="btn btn-xs btn-default">更多</a></td>
                        </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
