<!doctype html>

<!-- start 页面中的table需要用到bootstrap table插件，因此该页面需要单独引用bootstrap相关的css和js文件,相关文档说明可以参考：http://bootstrap-table.wenzhixin.net.cn/zh-cn/getting-started/  -->
<link rel="stylesheet" type="text/css" href="static/bootstrap-table/bootstrap-table.min.css" />
<script type="text/javascript" src="static/bootstrap-table/bootstrap-table.min.js"></script>
<script type="text/javascript" src="static/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
<!-- end 页面中的table需要用到bootstrap table插件，因此该页面需要单独引用bootstrap相关的css和js文件 -->

<div class="container-fluid type-cogs-wrapper"> 
  <!-- start 工具按钮行 -->
  <div class="row form-group">
    <div class="col-sm-6">
      <div class="btn-group">
        <button class="btn btn-success"><i class="fas fa-plus"></i> 添加</button>
        <button class="btn btn-danger" disabled><i class="fas fa-trash"></i> 删除</button>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="btn-group pull-right">
        <button class="btn btn-info"><i class="fas fa-download"></i> 下载协议模板</button>
        <button class="btn btn-warning"><i class="fas fa-info-circle"></i> 注意事项</button>
      </div>
    </div>
  </div>
  <!-- end 工具按钮行 --> 
  <!-- start 表格 -->
  <table class="table table-striped table-nowrap table-vertical-middle" id="typeCogsData">
  </table>
  <!-- end 表格 --> 
</div>
<script type="text/javascript">
  var tableData = [
    {
    typeName: '东方斯扽',
    type: '类型累心阿萨德离开家',
    version: '1.5',
      number:'744'
  }, {
    typeName: '江口洋介',
    type: '第三方跟第三方',
    version: '1.7',
      number:'33'
  }, {
    typeName: '死疯狗是',
    type: '范德萨凤凰股份公司的',
    version: '1.4',
      number:'22'
  }, {
    typeName: '三分公司',
    type: '类型累心阿萨德离开家',
    version: '2.5',
      number:'55'
  }, {
    typeName: '东方斯扽',
    type: '光和热岁的发的撒',
    version: '2.3',
      number:'54'
  }, {
    typeName: '岁的发送',
    type: '倒萨发送到',
    version: '2.1',
      number:'11'
  }, {
    typeName: '发送典范',
    type: '阿萨德发送',
    version: '1.1',
      number:'77'
  }, {
    typeName: '温热',
    type: '突然很听话',
    version: '1.0',
      number:'88'
  }, {
    typeName: '我耳朵嗡嗡',
    type: '岁的分公司地方',
    version: '0.9',
      number:'233'
  }, {
    typeName: '我耳朵嗡嗡',
    type: '岁的分公司地方',
    version: '0.8',
      number:'98'
  }, {
    typeName: '我耳朵嗡嗡',
    type: '岁的分公司地方',
    version: '0.7',
      number:'123'
  }, {
    typeName: '我耳朵嗡嗡',
    type: '岁的分公司地方',
    version: '0.6',
      number:'77'
  }, {
    typeName: '我耳朵嗡嗡',
    type: '岁的分公司地方',
    version: '1.5',
      number:'987'
  }, {
    typeName: '我耳朵嗡嗡',
    type: '岁的分公司地方',
    version: '0.5',
      number:'54'
  }, {
    typeName: '我耳朵嗡嗡',
    type: '岁的分公司地方',
    version: '0.4',
      number:'65'
  }, {
    typeName: '我耳朵嗡嗡',
    type: '岁的分公司地方',
    version: '0.3',
      number:'66'
  }, {
    typeName: '我耳朵嗡嗡',
    type: '岁的分公司地方',
    version: '0.2',
      number:'29'
  }, {
    typeName: '我耳朵嗡嗡',
    type: '岁的分公司地方',
    version: '0.1',
      number:'352'
  }, 
  ];
  $('#typeCogsData').bootstrapTable({
    pagination: true, //是否显示分页（*）
    sortable: true, //是否启用排序
    sortOrder: "asc", //排序方式
    sidePagination: "client", //分页方式：client客户端分页，server服务端分页（*）
    pageNumber: 1, //初始化加载第一页，默认第一页,并记录
    pageSize: 10, //每页的记录行数（*）
    clickToSelect: true, //是否启用点击选中行
    pageList: [10, 25, 50, 100],
    columns: [{
      checkbox: true,
      visible: true
    }, {
      field: 'typeName',
      title: '机型名称'
    }, {
      field: 'type',
      title: '设备类型'
    }, {
      field: 'version',
      title: '协议版本',
      width:100,
      sortable: true,
      align: 'center'
    }, {
      field: 'cogs',
      title: '协议配置',
      align: 'right',
      width:200,
      formatter: actionFormatter1
    }, {
      field: 'uiOptions',
      title: '界面配置',
      align: 'right',
      width:100,
      formatter: actionFormatter2
    }, {
      field: 'weixin',
      title: '微信界面配置',
      align: 'right',
      width:100,
      formatter: actionFormatter3
    }, {
      field: 'number',
      title: '设备数量',
      align: 'right',
      sortable: true,
      width:100
    }],
    data: tableData
  });

  function actionFormatter1(value, row, index) {
    var id = value;
    var result = "";
    result += "<button class='btn btn-default btn-sm' onclick=\"editById('" + id + "', view='view')\" title='修改'><i class='fas fa-edit'></i> 修改</button> ";
    result += "<button class='btn btn-default btn-sm' onclick=\"importById('" + id + "')\" title='导出'><i class='glyphicon glyphicon-export'></i> 导出</button> ";
    return result;
  }
  function actionFormatter2(value, row, index) {
    var id = value;
    var result = "";
    result += "<a class='btn btn-default btn-sm ajax-link' href='templates/type-cogs-ui.html' title='修改'><i class='fas fa-edit'></i> 修改</a> ";
    return result;
  }
  function actionFormatter3(value, row, index) {
    var id = value;
    var result = "";
    result += "<a class='btn btn-default btn-sm' href='###' title='修改'><i class='fas fa-edit'></i> 修改</a> ";
    return result;
  }
</script> 
